### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [53]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)


# Read Purchasing File and store into Pandas data frame
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [54]:
UniquePlayers = len(purchase_data["SN"].unique())
UniquePlayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
UniqueItems = len(purchase_data["Item ID"].unique())
AveragePrice = round(purchase_data["Price"].mean(), 2)
TotalPurchases = purchase_data["Purchase ID"].count()
PurchaseSummary = pd.DataFrame({'Unique Items':[UniqueItems],
                               'Average Price':[AveragePrice], 
                               'Total Purchases':[TotalPurchases], 
                               'Total Revenue': [TotalPurchases*AveragePrice]})

PurchaseSummary

   Unique Items  Average Price  Total Purchases  Total Revenue
0           183           3.05              780         2379.0

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [56]:
Genderdf = purchase_data
Gendergroup_Genderdf = Genderdf.groupby(["Gender"])
print (Gendergroup_Genderdf)
Gendergroup_Genderdf.head()
Gendergroup_Genderdf["Gender"].count()

GenderDemSummary = pd.DataFrame({'Total':Gendergroup_Genderdf["Gender"].count(),
                                'Percentage': Gendergroup_Genderdf["Gender"].count()/UniquePlayers
                              })
GenderDemSummary

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020BE70BFF60>

                       Total  Percentage
Gender
Female                   113    0.196181
Male                     652    1.131944
Other / Non-Disclosed     15    0.026042


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
Genderdf = purchase_data
Gendergroup_Genderdf = Genderdf.groupby(['Gender'])
print (Gendergroup_Genderdf)
Gendergroup_Genderdf.head()
Gendergroup_Genderdf["Gender"].count()

GenderDemSummary = pd.DataFrame({'Total':Gendergroup_Genderdf["Gender"].count(),
                                'Average Purchase Price': Gendergroup_Genderdf["Price"].sum()/Gendergroup_Genderdf["Price"].count(), 
                                 'Total Purchase Value' : Gendergroup_Genderdf["Price"].sum(), 
                                 'Avg Total Purchase by Gender' : Gendergroup_Genderdf["Price"].sum() /purchase_data.groupby('Gender')['SN'].nunique()
                                  })
GenderDemSummary

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020BE70C6C88>

,Total,Average Purchase Price,Total Purchase Value,Avg Total Purchase by Gender
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [58]:
## The company should increase their purchase target for those who are female or non-disclose.  
##They purchase less, but spend more.  If further ananlysis were to be done to figure out what
##items were purchased more often, they could offer bundles to those groups to increase sales.

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [59]:
Age = purchase_data["Age"].count()
# Bins   
Agebins = [0, 9, 19, 29, 39, 49]
# Create the names for the bins
Agenames = ["Under 10", "Under 20", "Under 30", "Under 40", "Under 50"]
UserAge = purchase_data[["SN", "Age"]]
UserAge["Age Group"] =pd.cut(UserAge["Age"],Agebins, labels=Agenames)



UserAgegroup_UserAge = UserAge.groupby(['Age Group'])
print (UserAgegroup_UserAge)
UserAgegroup_UserAge.head()
UserAgegroup_UserAge["Age"].count()

SummaryAGE = pd.DataFrame({'Total':UserAgegroup_UserAge["Age"].count(), 
                          'Percentage of Players': UserAgegroup_UserAge["Age"].count()/1163*100})
SummaryAGE

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020BE70C6CC0>

C:\Users\Kathryn DeCastro\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

           Total  Percentage of Players
Age Group
Under 10      23               1.977644
Under 20     164              14.101462
Under 30     466              40.068788
Under 40     114               9.802236
Under 50      13               1.117799

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
AnalysisAge = purchase_data
Age = AnalysisAge["Age"].count()
# Bins   
Agebins = [0, 9, 19, 29, 39, 49]
# Create the names for the bins
Agenames = ["Under 10", "Under 20", "Under 30", "Under 40", "Under 50"]
UserAge = purchase_data
UserAge["Age Group"] =pd.cut(UserAge["Age"],Agebins, labels=Agenames)


UserAgegroup_UserAge = UserAge.groupby(['Age Group'])
print (UserAgegroup_UserAge)
UserAgegroup_UserAge.head()
UserAgegroup_UserAge["Age"].count()

SummaryAGE = pd.DataFrame({'Purchase Count': UserAgegroup_UserAge["Purchase ID"].count(),
                          'Average Purchase Price' : UserAgegroup_UserAge["Price"].sum()/UserAgegroup_UserAge["Price"].count(),
                           'Total Purchase Value' : UserAgegroup_UserAge["Price"].sum(), 
                        'Avg Price per Person' : UserAgegroup_UserAge["Price"].sum() /UserAgegroup_UserAge["Age"].count()

                          })
SummaryAGE

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020BE70BF7B8>

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Price per Person
Age Group,,,,
Under 10,23,3.353478,77.13,3.353478
Under 20,164,3.022378,495.67,3.022378
Under 30,466,3.019442,1407.06,3.019442
Under 40,114,3.172544,361.67,3.172544
Under 50,13,2.941538,38.24,2.941538

In [61]:
##Within the 20's is the largest purchasers, to insrease the purchase price, they should
##do further analysis on what is purchased and offere bundles. Under 10 has the highest purchase price
##but we don't have enough information to determine if there are refunds issued based on
## parental permsission issues.

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [62]:
Topdf = purchase_data
Topspendersgroup_Topdf = Topdf.groupby(['SN'])
print (Topspendersgroup_Topdf)
Topspendersgroup_Topdf.head()
Topspendersgroup_Topdf["SN"].count()

TopdfSummary = pd.DataFrame({'Purchase Count':Topspendersgroup_Topdf["Purchase ID"].count(),
                                'Average Purchase Price': Topspendersgroup_Topdf["Price"].sum()/Topspendersgroup_Topdf["Purchase ID"].count(), 
                                 'Total Purchase Value' : Topspendersgroup_Topdf["Price"].sum()
                                 })
TopdfSummary2 = TopdfSummary.sort_values("Total Purchase Value", ascending=False)

TopdfSummary2.head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020BE70BFF28>

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [63]:
MostPopulardf = purchase_data
MostPopulardfgroup_MostPopulardf = MostPopulardf.groupby(['Item ID', 'Item Name'])
print (MostPopulardfgroup_MostPopulardf)
MostPopulardfgroup_MostPopulardf.head()
MostPopulardfgroup_MostPopulardf["Purchase ID"].count()


MostPupulardfSummary = pd.DataFrame({'Purchase Count':MostPopulardfgroup_MostPopulardf["Purchase ID"].count(),
                                     'Item Price' : MostPopulardfgroup_MostPopulardf["Price"].sum()/MostPopulardfgroup_MostPopulardf["Purchase ID"].count(),
                                 'Total Purchase Value' : MostPopulardfgroup_MostPopulardf["Price"].sum()
                                 })
MostPupulardfSummary2 = MostPupulardfSummary.sort_values("Purchase Count", ascending=False)

MostPupulardfSummary2.head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020BE70CF780>

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [64]:
MostPupulardfSummary = pd.DataFrame({'Purchase Count':MostPopulardfgroup_MostPopulardf["Purchase ID"].count(),
                                     'Item Price' : MostPopulardfgroup_MostPopulardf["Price"].sum()/MostPopulardfgroup_MostPopulardf["Purchase ID"].count(),
                                 'Total Purchase Value' : MostPopulardfgroup_MostPopulardf["Price"].sum()
                                 })
MostPrrifitabledfSummary3 = MostPupulardfSummary.sort_values("Total Purchase Value", ascending=False)

MostPrrifitabledfSummary3.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

In [65]:
##The most popular/profitable item has only been sold 12 times. The purchases seem to be very random. 
## the Users purchase history is only 1 item at a time instead of a few at a time. 1 user purchased 5 times, 
## but for the most part, the users are not purchasing more than 1-3 times.